body {
    background-color:#FFF6DC;
}

h1 {
    margin: auto;
    width: 30%;
    padding: 10px;
}

.center {
    margin: auto;
    width: 30%;
    padding: 10px;
}

a:link, a:visited {
    background-color: #0c0b0b;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: black;
  }

.button {
    margin: auto;
    width: 1%;
    padding-left: 85%;
}
